# Dependabot will run on day 27 of each month at 03:03 (Europe/Berlin timezone)
version: 2
updates:

  - package-ecosystem: "github-actions"
    directory: "/"
    open-pull-requests-limit: 15
    schedule:
      interval: "weekly"
      timezone: "Europe/Berlin"

  - package-ecosystem: "npm"
    directory: "/"
    open-pull-requests-limit: 15
    schedule:
      interval: "weekly"
      timezone: "Europe/Berlin"
    assignees:
      - "hombach"
    versioning-strategy: "increase"
